/*====================
    FONTS
  ====================*/
/* Inter Regular */
@font-face {
  src: url("../fonts/Inter-Regular.woff2") format("woff2"),
    url("../fonts/Inter-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-family: "Inter";
  font-display: swap;
}

/* Inter Bold */
@font-face {
  src: url("../fonts/Inter-Bold.woff2") format("woff2"),
    url("../fonts/Inter-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-family: "Inter";
  font-display: swap;
}

/* Inter Black */
@font-face {
  src: url("../fonts/Inter-Black.woff2") format("woff2"),
    url("../fonts/Inter-Black.woff") format("woff");
  font-style: normal;
  font-weight: 900;
  font-family: "Inter";
  font-display: swap;
}


/*====================
    CUSTOM PROPERTIES
  ====================*/
:root {
  /* fonts */
  --font-primary: "Inter", sans-serif;

  /* colors */
  --extra-dark: #2d3440;
  --dark: #565c66;
  --neutral: #b9b9b9;
  --light: #e7e7e7;
  --extra-light: #fcfcfc;
  --white: #ffffff;
  --black: #000000;
  --special-extra-bright: #ff2f64;
  --special-bright: #ff4a78;
  --special-neutral: #ff7799;
  --special-light: #feafc3;
  --special-extra-light: #ffcbd8;
  --blue: #69a9ff;
  --yellow: #fcc850;
  --status-error: #ea5454;
  --status-warning: #fd912e;
  --status-success: #00e484;

  /* shadows */
  --small-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
  --normal-shadow: 0px 8px 16px rgba(45, 52, 64, 0.12);
  --big-shadow: 0px 15px 40px rgba(45, 52, 64, 0.12);
}


/*====================
    BASIC STYLES
  ====================*/
html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  min-height: 100%;
  font: 400 16px/22px var(--font-primary);
  color: var(--dark);
  background-color: var(--special-light);
  overflow-x: hidden;
}

.pink-bg {
  background-color: var(--special-light);
}

.blue-bg {
  background-color: var(--blue);
}

.yellow-bg {
  background-color: var(--yellow);
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  object-position: center;
}

button,
a {
  display: inline-block;
}

button {
  cursor: pointer;
}

textarea {
  resize: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}


/*====================
    REPEATING ELEMENTS
  ====================*/
.title {
  margin: 0;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  color: var(--extra-dark);
}

.small-title {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: var(--extra-dark);
}

/* button */
.button {
  display: inline-block;
  margin: 4px;
  padding: 12px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  background-color: transparent;
  border: none;
  border-radius: 26px;
  box-shadow: var(--small-shadow);
  cursor: pointer;
}

.button:active {
  opacity: 0.3;
}

.button--white {
  color: var(--extra-dark);
  background-color: var(--extra-light);
  outline: 4px solid rgba(252, 252, 252, 0.4);
}

.button--white:focus {
  background-color: var(--extra-light);
  box-shadow: var(--small-shadow);
  outline: 2px solid var(--extra-dark);
}

.button--white:hover {
  background-color: rgba(252, 252, 252, 0.4);
  box-shadow: 0px 4px 15px rgba(133, 133, 133, 0.15);
  outline: 4px solid var(--extra-light);
}

.button--white:disabled {
  font-weight: 400;
  color: var(--neutral);
  background-color: var(--light);
  box-shadow: none;
  opacity: 1;
  outline: 4px solid rgba(252, 252, 252, 0.4);
}

.button--accent {
  color: var(--extra-light);
  background-color: var(--special-extra-bright);
  outline: 4px solid rgba(255, 47, 100, 0.3);
}

.button--accent:focus {
  color: var(--extra-light);
  background-color: var(--special-extra-bright);
  box-shadow: var(--small-shadow);
  outline: 2px solid var(--extra-dark);
}

.button--accent:hover {
  color: var(--extra-dark);
  background-color: rgba(252, 252, 252, 0.3);
  box-shadow: none;
  outline: 4px solid var(--special-extra-bright);
}

.button--accent:disabled {
  font-weight: 400;
  color: var(--dark);
  background-color: var(--neutral);
  box-shadow: none;
  opacity: 1;
  outline: 4px solid rgba(185, 185, 185, 0.3);
}

/* form field */
.form-field {
  width: 100%;
  padding: 13px 16px;
  line-height: 20px;
  color: var(--extra-dark);
  background-color: var(--white);
  border: 1px solid var(--neutral);
  border-radius: 4px;
}

.form-field::placeholder {
  color: var(--neutral);
}

input.form-field {
  height: 48px;
}

textarea.form-field {
  height: 150px;
}

.form-field:hover {
  border-color: var(--extra-dark);
}

.form-field:focus {
  outline: 2px solid var(--extra-dark);
  outline-offset: -2px;
}

.form-field--error {
  border-color: var(--status-error);
}

.form-field--error:focus,
.form-field--error:hover {
  outline: 2px solid var(--status-error);
  outline-offset: -2px;
}

.form-field:disabled {
  background-color: var(--light);
  border-color: var(--neutral);
  outline: none;
}


/*====================
    MAIN STYLES
  ====================*/
/* header */
.header {
  padding: 24px 0;
}

.header__inner {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 16px;
  line-height: 0;
}

.logo:focus {
  border-radius: 2px;
  outline: 2px solid var(--extra-dark);
  outline-offset: 5px;
}

.logo[href]:hover {
  opacity: 0.5;
  outline: none;
}

.logo[href]:active {
  opacity: 0.3;
}

.logo__img {}

.nav {
  margin-right: auto;
}

.nav__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav__item {}

.nav__link {}

.nav-link {
  padding: 8px 16px;
  line-height: 20px;
  text-decoration: none;
  color: var(--extra-dark);
  background-color: transparent;
  border: none;
  border-radius: 26px;
  cursor: pointer;
}

.nav-link:focus,
.open-search:focus {
  background-color: rgba(252, 252, 252, 0.5);
  outline: 2px solid var(--extra-dark);
  outline-offset: -2px;
}

.nav-link:hover,
.open-search:hover {
  background-color: rgba(252, 252, 252, 0.5);
  outline: none
}

.nav-link:active,
.open-search:active {
  background-color: var(--extra-light);
}

.nav__link--active,
.nav__link--active:focus,
.nav__link--active:hover,
.nav__link--active:active {
  color: var(--extra-light);
  background-color: var(--special-bright);
}

.nav__link-dropdown {}

.dropdown {
  display: none;
}

.dropdown__title {}

.dropdown__list {}

.dropdown__item {}

.dropdown__link {}

.user-nav {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.user-nav__item {}

.user-nav__item + .user-nav__item {
  margin-left: 16px;
}

.header__tel {
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
  color: var(--extra-dark);
}

.header__tel:focus {
  border-radius: 15px;
  outline: 2px solid var(--extra-dark);
  outline-offset: 8px;
}

.header__tel:hover {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-underline-position: under;
  outline: none;
}

.header__tel:active {
  opacity: 0.3;
}

.open-search {
  position: relative;
  padding: 8px;
  min-width: 32px;
  min-height: 32px;
  background-color: rgba(252, 252, 252, 0.3);
  border: none;
  border-radius: 50%;
}

.open-search::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 18px;
  height: 18px;
  background-image: url("../images/icons/search-icon.svg");
  background-repeat: no-repeat;
  background-size: contain;
  transform: translate(-50%, -50%);
}

.user-nav__item {
  position: relative;
}

.search-popup {
  display: none;
  position: absolute;
  top: calc(100% + 8px);
  right: 0;
  z-index: 5;
  padding: 24px 16px;
  background-color: var(--extra-light);
  border-radius: 4px;
  box-shadow: var(--normal-shadow);
}

.search-popup__input-wrapper {
  position: relative;
  margin: 0;
}

.search-popup__input {
  width: 326px;
  padding-right: 35px;
}

.search-popup__input::-webkit-search-decoration,
.search-popup__input::-webkit-search-cancel-button,
.search-popup__input::-webkit-search-results-button,
.search-popup__input::-webkit-search-results-decoration {
  display: none;
}

.search-popup__reset-button {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 35px;
  height: 100%;
  padding: 0;
  background-color: transparent;
  border: none;
  border-radius: 0 4px 4px 0;
}

.search-popup__reset-button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 16px;
  background-image: url("../images/icons/cross-icon.svg");
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.4;
  transform: translate(-50%, -50%);
}

.search-popup__reset-button:focus {
  outline: 2px solid var(--extra-dark);
  outline-offset: -2px;
}

.search-popup__reset-button:hover {
  outline: none;
}

.search-popup__reset-button:hover::before {
  opacity: 1;
}

.search-popup__reset-button:active::before {
  opacity: 0.3;
}

.search-popup__reset-button--active {
  display: block;
}

.user-nav__button {
  position: relative;
  padding-left: 40px;
  background-color: rgba(252, 252, 252, 0.3);
}

.user-nav__button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 16px;
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  background-size: contain;
  transform: translateY(-50%);
}

.cart-button--empty::before {
  background-image: url("../images/icons/cart-icon.svg");
}

.cart-button--filled::before {
  background-image: url("../images/icons/cart-filled.svg");
}

.user-nav__button-login::before {
  background-image: url("../images/icons/login-icon.svg");
}

.user-nav__button--active,
.user-nav__button--active:hover{
  background-color: var(--extra-light);
}

.popup {
  position: absolute;
  top: calc(100% + 8px);
  right: 0;
  z-index: 5;
  display: none;
  min-height: 200px;
  padding: 48px 48px 52px;
  background-color: var(--extra-light);
  box-shadow: var(--big-shadow);
}

.popup--active {
  display: block;
  animation: appear 0.3s;
}

.login-popup {}

.popup__title {
  margin-bottom: 32px;
}

.login-form {}

.login-form__block {
  margin: 0;
}

.login-form__block + .login-form__block {
  margin-top: 16px;
}

.login-form__block:last-of-type {
  margin-bottom: 32px;
}

.login-form__password-block {
  position: relative;
}

.login-form__password-block--active::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 17px;
  width: 44px;
  height: 4px;
  background-image: url("../images/icons/password.svg");
  background-repeat: no-repeat;
  background-size: contain;
  transform: translateY(-50%);
}

.login-form__input {
  width: 324px;
}

.login-form__input::placeholder {
  color: var(--extra-dark);
}

.login-form__row {
  display: flex;
  align-items: center;
}

.login-form__button {
  margin-right: 20px;
}

.login-form__links {
  margin: 0;
}

.login-form__link {
  font-size: 14px;
  line-height: 20px;
  text-decoration-skip-ink: none;
  text-underline-position: under;
  text-underline-offset: 2px;
  color: var(--extra-dark);
}

.login-form__link + .login-form__link {
  margin-top: 4px;
}

.login-form__link:focus {
  text-decoration: none;
  border-radius: 5px;
  outline: 2px solid var(--extra-dark);
  outline-offset: 2px;
}

.login-form__link:hover {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-underline-position: under;
  text-underline-offset: 2px;
  color: var(--special-extra-bright);
  outline: none;
}

.login-form__link:active {
  opacity: 0.3;
}

.cart-popup {}

.cart-popup--empty {
  box-shadow: var(--normal-shadow);
}

.cart-popup__list {}

.cart-popup__item {}

.item-cart {}

.item-cart__link {}

.item-cart__img {}

.item-cart__info {}

.item-cart__title {}

.item-cart__details {}

.item-cart__price {}

.item-cart__delete {}

.cart-popup__row {}

.cart-popup__button {}

.cart-popup__final-price {}


/*====================
    ANIMATIONS
  ====================*/
@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


/*====================
    DESKTOP FIRST ADAPTIVE
  ==================== */
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {}
